*{
    padding:0;
    margin:0;
}

.container{
    display: grid;
    grid-template-columns:20% 80%;
    background-color:#FBFAD3;
    height:100%;
    width:100%;
}

.side_nav{
    background-color:#C6E377;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}


.main_container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main_container .form_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#fff;
    height:70%;
    width:35%;
    border-radius: 15px;
    padding:5px;
}

form{
    display: flex;
    flex-direction: column;
    width:95%;
    padding:5px;
    align-items: center;
}

.title_container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.title_container h2{
    font-size: 30px;
    color:#57837B;
    font-weight: bold;
}


label{
     font-size: 15px;
     font-weight: bold;
     color:#57837B;
     letter-spacing: 0.1rem;
     margin-bottom: 10px;
 }



.rating{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    
}

.num{
    display: grid;
    grid-template-columns:20% 90%;
    height:50px;
    width:70%;
    /* background-color: #57837B; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.btn{
    background-color: #C6E377; 
    height:50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}

input[type="radio"]{
    height:25px;
    width:25px;
}

.txt{
    height:50px;
    margin-left: 10px;
    margin-top: 10px;
    display:flex;
    align-items: center;
}


.btn_container{
display: flex;
justify-content:space-between;
align-items: center;
margin-top: 10%;
margin-left: 5px;
width:96%;
}

.btn_container button{
    background-color: #C6E377;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    height:40px;
    width:100px;
    border:none;
}

.input_container{
    display: flex;
    flex-direction: column;
    width:95%;
    padding:5px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .input_container label{
     font-size: 15px;
     font-weight: bold;
     color:#57837B;
     letter-spacing: 0.1rem;
     margin-bottom: 10px;
 }

.input_container input {
    width:100%;
    height:40px;
    letter-spacing: 0.1rem;
    background-color:#FBFAD3;
    color:gray;     
    border-radius: 5px;
    border:none;
    border-bottom: 2px solid #57837B;
    padding-left:5px;
}

