
.main_container{
    display:grid;
    grid-template-columns:45% 55%;
    justify-content:center;
    align-items:center;
    height:90vh;
    padding:5px;
}

.main_container .form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#fff;
    height:90%;
    width:95%;
    border-radius: 15px;
    padding:5px;
}

.main_container .table_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#fff;
    height:90%;
    width:95%;
    border-radius: 15px;
    padding:5px;
}

.title_container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    right:36%;
  
}

.title_container h2{
    font-size: 30px;
    color:#57837B;
    font-weight: bold;
}

.title_container hr{
    position: relative;
    width:85px;
    height:3px;
    background-color:#57837B;
    left:3px;
}

.button_container button{
    position:relative;
    border:none;
    border-radius: 10px;
    width:30%;
    height: 40px;
    color: #57837B;
    font-size:1.2rem;
    font-weight:bold;
    background-color:#C6E377;
    cursor:pointer;
    left: 64%;
}

 form{
    display: flex;
    flex-direction: column;
    width:95%;
    padding:5px;
}

.input_container{
    display: flex;
    flex-direction: row;
    width:95%;
    padding:5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

 .input_container label{
     font-size: 15px;
     font-weight: bold;
     color:#57837B;
     letter-spacing: 0.1rem;
     margin-bottom: 10px;
    min-width: 200px;
 }

.input_container input {
    width:70%;
    height:40px;
    letter-spacing: 0.1rem;
    background-color:#FBFAD3;
    color:gray;     
    border-radius: 5px;
    border:none;
    border-bottom: 2px solid #57837B;
    padding-left:5px;
}


.table_container .table_cls{
    margin-top:1rem;
    display: grid;
    justify-content: center;
    color:#57837B;
    align-items:center;
    font-size: 1rem;
    
}

.table_cls table{
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e5e5e5;
    text-align: left;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;    
}

.table_cls table thead{
        box-shadow: 0 5px 10px #e5e5e5;     
}

.table_cls table thead th{    
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: bold;   

}


td{
    padding:1rem 2rem;
    background-color:#FBFAD3;
    color: #57837B;
    text-transform: capitalize;    
}

