/*css file for the home.php*/

.mainContainer{
    display: grid;
    grid-template-rows: 5%;
}

/*left column of the page*/
.upperContainer{
    background-color:#C6E377;
}

/*right column of the page*/
.lowerContainer{
    background-color: #FBFAD3;
}

/*navigation links*/
.navTable{
    margin-top: 4%;/*locate links in the bottom of the green bar*/
    
}
.navTable td{
    padding: 15px;
}

h1{
    text-align: center;
}

.homeImg{
    margin-top: 5%;
    margin-left: 5%;
    
}

.para{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}


/*get registered button*/
.regButton {
    width: 15%;
    height: auto;
    background-color: #C6E377; 
    border: none;
    padding: 0.875rem;/*14px 20px;*/
    text-align: center;
    display: inline-block;
    font-size: 1rem;/*15px;*/
    border-radius: 0.75rem;/*12px;/*curves the edges of the button*/
    color: #57837B;
    font-weight: bold;
    margin-left: 80%;
}

/*downloads table*/
.table1{
    align-content: center;
   text-align: center;
}

.table1 td{
    padding: 20px;
}

/*contact us section (footer)*/
footer{
    background-color:#C6E377;
    align-content: 5%;
    
}




/*contact details and the map in the footer*/
/* Create two equal columns that floats next to each other */
.row{
    display: flex;
}
.column {
    flex: 50%;
    padding: 25px;
  }
  
  

