*{
    padding:0;
    margin:0;
}

.container{
    display: grid;
    grid-template-columns:20% 80%;
    background-color:#FBFAD3;
    height:100%;
    width:100%;
}

.sidenav{
    background-color:#C6E377;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}


.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.main_container .logout_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height:50%;
    width:20%;
    border-radius: 15px;
}

.logo_container{
    margin-bottom: 20px;
}

.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
 }

.button_container button{
    display:block;
    border:none;
    border-radius: 10px;
    width:200px;
    height: 40px;
    color: #57837B;
    font-size:1.2rem;
    font-weight:bold;
    background-color:#C6E377;
    cursor:pointer;
}

