
.validation_container i{
    position:absolute;   
    visibility:hidden;
    padding-top:5px;
}

.validation_container small{
    visibility:hidden;
    position: absolute;
    padding-left: 20px; 
    padding-top: 5px;   
}

.input_container_right.success input{
    border-color: #2ecc71;
}

.input_container_left.error input{
    border-color: #e74c3c;
}

.input_container_right.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.input_container_left.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

/* -------------------------------------------------- */
.input_container_right.error input{
    border-color: #e74c3c;
}

.input_container_left.success input{
    border-color: #2ecc71;
}

.input_container_right.error i.fa-exclamation-circle{
    color: #e74c3c;
    
}

.input_container_left.success i.fa-check-circle{
    color: #2ecc71;

}


/**------------------------------------------------**/

.input_container_right.success small{
    color: #2ecc71;
    visibility: visible;
}

.input_container_left.error small{
    color: #e74c3c;
    visibility: visible;
}

/* -------------------------------------------------- */


.input_container_right.error small{
    color: #e74c3c;
}

.input_container_left.success small{
    color: #2ecc71;
}